{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="content">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="languages">
            {% for language in languages %}
            <form class="lang__box" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="{{ language.code }}">
                <input type="submit" value="{{ language.code }}">
            </form>
            {% endfor %}
        </div>
        <div id="toolbar" class="toolbar">
            {% block toolbar %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>    
</body>
{% block js %}{% endblock %}
</html>