{% extends "main/base.html" %}

{% block title %}Демалыс куәліктері{% endblock %}

{% block toolbar %}
    <div class="toolbar__line">
        <a href="{% url 'create' %}"><button class="btn__create">Жаңа куәлікті енгізу</button></a>
        <div class="right__label">
            <div>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</div>
            <div>Бүгін: {% now "d.m.Y" %}</div>
            <a href="{% url 'logout' %}">Сайттан шығу</a>
        </div>
    </div>
    <h1>Демалыс куәліктері</h1>
    <hr>
    <form action="/" method="get" class="filter__panel" name="filter_and_order">
        <input type="hidden" name="order_by" value="{{order_by}}">
        <input type="hidden" name="page" value="{{page}}">
        <input type="text" name="ft_name" id="ft_name" placeholder="Т.А.Ә. бойынша" value="{{ft_name}}">
        <select name="ft_department" id="ft_department">
            <option value="">Бөлімі бойынша</option>
            {% for department in departments %}
                {% if department.id|stringformat:"i" == ft_department %}
                    <option value="{{department.id}}" selected>{{ department.title }}</option>
                {% else %}    
                    <option value="{{department.id}}">{{ department.title }}</option>
                {% endif %}    
            {% endfor %}
        </select>
        <select name="ft_management" id="ft_management">
            <option value="">Қызметы боыйнша</option>
            {% for management in managements %}
                {% if management.id|stringformat:"i" == ft_management %}
                    <option value="{{management.id}}" selected>{{management.title}}</option>
                {% else %}
                    <option value="{{management.id}}">{{management.title}}</option>
                {% endif %}
            {% endfor %}    
        </select>
        <input type="submit" value="Іздеу" class="btn__edit">
    </form>
    <div class="pagination">
        {% for pg in paginator.page_range %}
            {% if pg|stringformat:"i" == page %}
                <span class="current_page" onclick="setPage('{{ pg }}')">
                    {{ pg }}
                </span>
            {% else %}
                <span class="page" onclick="setPage('{{ pg }}')">
                    {{ pg }}
                </span>
            {% endif %}    
        {% endfor %}    
    </div>
{% endblock %}

{% block content %}
    <div class="scroll__panel">
        <table class="main__table">
            <colgroup span="6">
                <col style="width: 50px">
                <col style="width: 50px">
                <col style="width: 90px">
                <col style="width: 350px">
                <col style="width: 300px">
                <col style="width: 300px">
                <col style="width: 150px">
                <col style="width: 150px">
            </colgroup>
            <thead>
                <tr>
                    <th>№</th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='number'; form.submit();">
                        Нөмірі {% if order_by == 'number' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='date_enter'; form.submit();">
                        Берілген күні {% if order_by == 'date_enter' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='department'; form.submit();">
                        Бөлімі {% if order_by == 'department' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='management'; form.submit();">
                        Қызметы {% if order_by == 'management' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='first_name'; form.submit();">
                        Т.А.Ә {% if order_by == 'first_name' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='degree'; form.submit();">
                        атағы {% if order_by == 'degree' %} ▲ {% endif %}
                    </th>
                    <th onclick="let form = document.forms.filter_and_order; form.order_by.value='job'; form.submit();">
                        лауазымы {% if order_by == 'job' %} ▲ {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for holiday in holidays %}
                <tr>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ forloop.counter }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.number }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.date_enter|date:"d.m.Y" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.department }}</a> 
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.management }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">
                            {{ holiday.last_name|capfirst}} {{ holiday.first_name|capfirst }} {{ holiday.middle_name|capfirst }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.degree }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' pk=holiday.pk %}">{{ holiday.job }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}
{% block js %}
<script type="text/javascript"> 
    function setPage(pg) {
        let form = document.forms.filter_and_order; 
        form.page.value=pg; 
        form.submit();
    }
 </script>
{% endblock %}