{% extends "main/base.html" %}

{% load i18n %}

{% load bootstrap5 %}

{% block title %}{% blocktrans %}Отпускное удостоверение{% endblocktrans %}{% endblock %}

{% block toolbar %}
{% buttons %}
<button type="submit" form="holiday_form" class="btn btn-primary">
    {% trans 'Сохранить' %}
</button>
{% trans 'Отмена' as tr_escape %}
{% if object %}
<a href="{% url 'detail' pk=object.pk %}">
    <button class="btn btn-secondary">{{ tr_escape }}</button></a>
{% else %}
<a href="/"><button class="btn btn-secondary">{{ tr_escape }}</button></a>
{% endif %}
<h1 class="text-center">{% trans 'Отпускное удостоверение' %}</h1>
<hr>
{% endbuttons %}
{% endblock %}

{% block content %}
<form id="holiday_form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    </div>
</form>
{% endblock %}