{% extends "main/base.html" %}

{% load i18n %}

{% load bootstrap5 %}

{% block title %}{% blocktrans %}Отпускные удостоверения{% endblocktrans %}{% endblock %}

{% block toolbar %}
<div class="row justify-content-between">
    <div class="col-3">
        <a href="{% url 'create' %}">
            {% buttons %}
            <button class="btn btn-primary">
                {% trans 'Добавить новое удостоверение' %}
            </button>
            {% endbuttons %}
        </a>
    </div>
    <div class="col-3">
        <div class="right__label">
            <div>{{ user.last_name|default_if_none:"" }} {{ user.first_name|default_if_none:"" }} {{ user.middle_name|default_if_none:"" }}</div>
            <div>
                {% trans 'Сегодня:' %} {% now "d.m.Y" %}</div>
            <a href="{% url 'logout' %}">{% trans 'Выйти из сайта' %}</a>
        </div>
    </div>
</div>
<h1 class="text-center">{% trans 'Отпускные удостоверения' %}</h1>
<hr>
<form class="row g-3" action="/" method="get" name="filter_and_order">
    <input type="hidden" name="order_by" value="{{order_by}}">
    <input type="hidden" name="page" value="{{page}}">
    <div class="col-auto">
        <input class="form-control form-control-sm" type="text" name="ft_name" id="ft_name"
            placeholder="{% trans 'по Ф.И.О.' %}" value="{{ft_name}}">
    </div>
    <div class="col-auto">
        <select class="form-control form-control-sm" name="ft_department" id="ft_department">
            <option value="">{% trans 'по подразделению' %}</option>
            {% for department in departments %}
            {% if department.id|stringformat:"i" == ft_department %}
            <option value="{{department.id}}" selected>{% trans department.title %}</option>
            {% else %}
            <option value="{{department.id}}">{% trans department.title %}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <select class="form-control form-control-sm" name="ft_management" id="ft_management">
            <option value="">{% trans 'по службе' %}</option>
            {% for management in managements %}
            {% if management.id|stringformat:"i" == ft_management %}
            <option value="{{management.id}}" selected>{% trans management.title %}</option>
            {% else %}
            <option value="{{management.id}}">{% trans management.title %}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <input type="submit" value="{% trans 'Найти' %}" class="btn btn-primary btn-sm t-5">
    </div>
</form>
<ul class="pagination justify-content-center">
    {% for pg in paginator.page_range %}
    {% if pg|stringformat:"i" == page %}
    <li class="page-item active" onclick="setPage('{{ pg }}')">
        {{ pg }}
    </li>
    {% else %}
    <li class="page-item" onclick="setPage('{{ pg }}')">
        {{ pg }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='number'; form.submit();">
                {% trans 'Номер' %} {% if order_by == 'number' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='date_enter'; form.submit();">
                {% trans 'Дата выдачи' %} {% if order_by == 'date_enter' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='department'; form.submit();">
                {% trans 'Подразделение' %} {% if order_by == 'department' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='management'; form.submit();">
                {% trans 'Служба' %} {% if order_by == 'management' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='first_name'; form.submit();">
                {% trans 'Ф.И.О.' %} {% if order_by == 'first_name' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='degree'; form.submit();">
                {% trans 'звание' %} {% if order_by == 'degree' %} ▲ {% endif %}
            </th>
            <th scope="col"
                onclick="let form = document.forms.filter_and_order; form.order_by.value='job'; form.submit();">
                {% trans 'должность' %} {% if order_by == 'job' %} ▲ {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for holiday in holidays %}
        <tr>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">{{ forloop.counter }}</a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">{{ holiday.number }}</a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">{{ holiday.date_enter|date:"d.m.Y" }}</a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">
                    {% trans holiday.department.title %}
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">
                    {% trans holiday.management.title %}
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">
                    {{ holiday.last_name|capfirst}} {{ holiday.first_name|capfirst }} {{ holiday.middle_name|capfirst }}
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">
                    {% trans holiday.degree.title %}
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black;" href="{% url 'detail' pk=holiday.pk %}">{{ holiday.job }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function setPage(pg) {
        let form = document.forms.filter_and_order;
        form.page.value = pg;
        form.submit();
    }
</script>
{% endblock %}