{% extends "main/base.html" %}

{% load i18n %}

{% load bootstrap5 %}

{% block title %}{% blocktrans %}Удаление документа{% endblocktrans %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans 'Удалить данный документ?' %}</h1>
    <div class="row justify-content-center">
        <form method="post" class="col-auto">
            {% csrf_token %}
            {% buttons %}
                <input type="submit" value="{% trans 'Удалить' %}" class="btn btn-danger">
                <button onclick="window.history.back();" class="btn btn-secondary" type="button">{% trans 'Отмена' %}</button>
            {% endbuttons %}
        </form> 
    </div>
{% endblock %}