{% extends "main/base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %} Вход в систему {% endblocktrans %}{% endblock %}

{% block content %}

{% trans 'Вход в систему' as tr_title %}
{% trans 'Вход выполнен' as tr_user_is_entered %}
{% trans 'Имя пользователя' as tr_username %}
{% trans 'Пароль' as tr_password %}
{% trans 'Войти' as tr_enter %}

{% if user.is_authenticated %}
    <p>{{ tr_user_is_entered }}</p>
{% else %}
    <form method="post" class="login__form">
        <h1>{{ tr_title }}</h1>
        {% csrf_token %}
        <table class="login__table">
            <tr>
                <td>{{ tr_username }}: </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ tr_password }}: </td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <div class="error">
            {{ form.non_field_errors }}
        </div>
        <input type="hidden" name="next" value="{{next}}">
        <div class="login_btn_enter">
            <input type="submit" value="{{ tr_enter }}" class="btn__edit">
        </div>
    </form>
{% endif %}
{% endblock %}