{% extends "main/base.html" %}

{% block title %}Жүйеге кіру{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>Кіріс жасалынды</p>
{% else %}
    <form method="post" class="login__form">
        <h1>Жүйеге кіру</h1>
        {% csrf_token %}
        <table class="login__table">
            <tr>
                <td>Логин: </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Пароль: </td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <div class="error">
            {{ form.non_field_errors }}
        </div>
        <input type="hidden" name="next" value="{{next}}">
        <div class="login_btn_enter">
            <input type="submit" value="Кіру" class="btn__edit">
        </div>
    </form>
{% endif %}
{% endblock %}